<h2>Editar información de la cuenta</h2>

<form action="/auth/edit/{{ user.id }}" method="POST">
    <div class="row">
        <div class="form-group col-12 col-md-6">
            <label for="nombres" class=" form-control-label">Nombres <span class="required">*</span></label>
            <input type="text" name="nombres" id="nombres" placeholder="Nombres" value="{{user.nombres}}"
                class="form-control form-wide mb-2 " autofocus required>
        </div>
        <div class="form-group col-12 col-md-6">
            <label for="apellidos" class=" form-control-label">Apellidos <span class="required">*</span></label>
            <input type="text" name="apellidos" id="apellidos" value="{{user.apellidos}}" placeholder="Apellidos"
                class="form-control form-wide mb-2" required>
        </div>

        <div class="form-group col-12 col-md-6">
            <label for="email" class=" form-control-label">Correo electronico <span class="required">*</span></label>
            <input type="email" name="email" id="email" value="{{user.email}}" placeholder="Correo electronico"
                class="form-control form-wide mb-2" required>
        </div>

    </div><!-- End .row -->



    <div class="form-footer">

        <div class="form-footer-right">
            <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
    </div><!-- End .form-footer -->
</form>