<footer class="footer">

    <div class="container">
        <div class="footer-bottom">
            <p class="footer-copyright">Portal store. &copy; 2018. Todos los derechos reservados.</p>

            <img src="/assets\images\payments.png" alt="payment methods" class="footer-payments">
        </div><!-- End .footer-bottom -->
    </div><!-- End .container -->
</footer><!-- End .footer -->