<header class="header">


    <div class="header-middle">
        <div class="container">
            <div class="header-left">
                <a href="/" class="logo">
                    <img src="/img/logoerick.png" alt="Pulpo Logo" width="221" height="141">
                </a>
            </div><!-- End .header-left -->

            <div class="header-center">
                <div class="header-search">
                    <a href="#" class="search-toggle" role="button"><i class="icon-magnifier"></i></a>
                    <form action="/productos/" method="get">
                        <div class="header-search-wrapper">
                            <input type="search" class="form-control" name="busqueda" id="busqueda"
                                placeholder="Buscar..." required="">

                            <button class="btn" type="submit"><i class="icon-magnifier"></i></button>
                        </div><!-- End .header-search-wrapper -->
                    </form>
                </div><!-- End .header-search -->
            </div><!-- End .headeer-center -->

            <div class="header-right">
                <button class="mobile-menu-toggler" type="button">
                    <i class="icon-menu"></i>
                </button>

                <div class="navbar-words">
                    <a href="/carrito/" data-toggle="tooltip" data-placement="bottom" title="Carrito"><i
                            class="fas fa-shopping-cart fa-3x icono-personalizado-header"></i>
                    </a>
                </div>
                {{#if user.id }}
                <div class="navbar-words">
                    <a href="/usuario/" data-toggle="tooltip" data-placement="bottom" title="Mi cuenta"><i
                            class="fas fa-user  fa-3x icono-personalizado-header"></i></a>
                </div>
                <div class="navbar-words">
                    <a href="/auth/cerrarSesion" data-toggle="tooltip" data-placement="bottom" title="Cerrar sesión"><i
                            class="fas fa-sign-out-alt  fa-3x icono-personalizado-header"></i></a>
                </div>
                {{else}}
                <div class="navbar-words">
                    <a href="#" data-toggle="modal" data-target="#loginModal"><strong>INICIAR SESIÓN</strong></a>
                </div>

                <div class="navbar-words">

                    <a href="#" data-toggle="modal" data-target="#registerModal"><strong>REGISTRARSE</strong></a>
                </div>
                {{/if}}

            </div><!-- End .header-right -->
        </div><!-- End .container -->
    </div><!-- End .header-middle -->

    <div class="header-bottom sticky-header">
        <div class="container">
            <nav class="main-nav">
                <ul class="menu sf-arrows">
                    <li><a href="/">Incio</a></li>
                    <li><a href="/productos">Productos</a></li>

                </ul>
            </nav>
        </div><!-- End .header-bottom -->
    </div><!-- End .header-bottom -->
</header><!-- End .header -->