<div class="container-fluid">
    <div class="row m-t-30">
        <div class="col-md-12">
            <!-- DATA TABLE-->
            <div class="table-responsive m-b-40">
                <button class="btn btn-success float-right " data-toggle="modal"
                    data-target="#nuevoCategoria">Nuevo</button>

                <table class="table table-borderless display table-data3" id="PortalStoreDatatable">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Nombre</th>
                            <th class="text-center">
                            </th>
                            <th class="text-center">
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each categorias }}
                        <tr>
                            <td>{{ id }}</td>
                            <td>{{ nombre }}</td>
                            <td>
                                <button class="btn btn-warning btn-sm" data-toggle="modal"
                                    data-target="#editarCategoria{{ id }}">Modificar</button>
                            </td>
                            <td>
                                <button class="btn btn-danger btn-sm" data-toggle="modal"
                                    data-target="#eliminarCategoria{{ id }}">Eliminar</button>
                            </td>

                        </tr>
                        {{/each}}


                    </tbody>
                </table>
            </div>
            <!-- END DATA TABLE-->
        </div>
    </div>

</div>