<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Pulpo Store</title>

    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="Pulpo Store">
    <meta name="author" content="SW-THEMES">

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="/img/logo.ico">



    <!-- TODO: VERIFICAR COMO MODIFICAR ESTO -->

    <script type="text/javascript">
        WebFontConfig = {
            google: { families: ['Open+Sans:300,400,600,700,800', 'Poppins:300,400,500,600,700', 'Segoe Script:300,400,500,600,700'] }
        };
        (function (d) {
            var wf = d.createElement('script'), s = d.scripts[0];
            wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js';
            wf.async = true;
            s.parentNode.insertBefore(wf, s);
        })(document);
    </script>

    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">

    <!-- Main CSS File -->
    <link rel="stylesheet" href="/assets/css/style.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/vendor/fontawesome-free/css/all.min.css">
    <!-- MIS ARCHIVOS CSS PERSONALIZADOS -->

    <link rel="stylesheet" href="/assets/css/myStyles.css">

</head>

<body>
    <div class="page-wrapper">
        {{> navbar }}

        {{> mensaje }}
        {{{ body }}}

    </div>
    {{> footer }}

    {{> mobileMenu }}
    {{> loginModal }}
    {{> registerModal }}

    <a id="scroll-top" href="#top" title="Top" role="button"><i class="icon-angle-up"></i></a>

    <!-- Plugins JS File -->
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/plugins.min.js"></script>

    <!-- DATATBLES JS-->

    <script type="text/javascript" src="/DataTables/datatables.min.js"></script>

    <!-- Main JS File -->
    <script src="/assets/js/main.min.js"></script>

    <!-- MIS DATATBLES JS-->

    <script type="text/javascript" src="/myDatatables/index.js"></script>
</body>

</html>